header {
    display: flex;
    justify-content: center;
}

.head {
    width: 70%;
    height: 150px;
    display: grid;
    grid-template-columns: 65px 2fr 2fr;
    align-content: center;
    background-color: var(--background-header);
}

.logo-text {
    width: 200px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 2;
}

.logo-image {
    grid-column: 1;
    width: 100px;
    height: 100px;

}

.logo {
    width: 100%;
    height: 100%;
    scale: 1.98;
    opacity: 0.3;
}

h1 {
    color: var(--text-color);
    font-family: var(--font-head);
    letter-spacing: 4.5px;
    margin-bottom: 8px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
}

a {
    margin: 18px;
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: 17px;
    opacity: 0.8;
}

.btn-about {
    padding: 10px 50px;
    border-radius: 8px;
    background-color: var(--button-back);
    color: var(--text-color);
    border: none;
}

header hr {
    grid-column: 1/4;
    opacity: 0.5;
}