:root {
    --background: #04010f;
    --background-header: #04010f;
    --button-back: rgba(240, 240, 240, 0.95);
    --text-color: #C0C0C0;
    --font-main: 'Inter', sans-serif;
    --font-head: 'Inter', sans-serif;

}


* {margin: 0px; padding: 0px;}

body {
 background-color: var(--background);
}


