:root {
    --color-table: rgba(255, 255, 255, 0.09);
    --background: rgba(0, 0, 0, 0.95);
    --background-header: (0, 0, 0, 0.95);
    --button-back: rgba(3, 3, 3, 0.87);
    --background-hero: rgba(2, 2, 2, 0.35);
    --background-footer: rgba(2, 2, 2, 0.1);
    --color-green: rgba(0, 255, 70, 1);
    --text-color: #C0C0C0;
    --font-main: 'PT Sans', sans-serif;
    --font-head: 'PT Sans', sans-serif;
}


* {margin: 0px; padding: 0px;}

html {
     scroll-behavior: smooth;
}

body {
     background-color: var(--background);
     color: var(--text-color);
     font-family: var(--font-main);
}

mark {
background: var(--color-green);
}

main {
    font-family: var(--font-main);
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content {
    width: 70%;
    height: 100%;
}
