:root {
    --background: rgba(0, 0, 0, 0.95);
    --background-header: (0, 0, 0, 0.95);
    --button-back: rgba(3, 3, 3, 0.87);
    --background-hero: rgba(2, 2, 2, 0.35);
    --text-color: #C0C0C0;
    --font-main: 'PT Sans', sans-serif;
    --font-head: 'PT Sans', sans-serif;

}


* {margin: 0px; padding: 0px;}

body {
 background-color: var(--background);

}


