<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel = "stylesheet" href = "../static/css/theme.css">
  <link rel = "stylesheet" href = "../static/css/header.css">
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
</head>
<body>
  <header>
    <div class = "head">
    <div class = "logo-image">
      <img src = "../images/logo.webp" class = "logo" alt = "ЛОГО">
    </div>
    <div class = "logo-text">
      <h1> <span> DARK </span> <br> <span> PULSE </span> </h1>
    </div>
     <nav>
       <a> Главная </a>
       <a> Новости </a>
       <a> Документация </a>
       <button class = "btn-about"> О нас </button>
     </nav>
    </div>
  </header>
</body>
</html>