<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel = "stylesheet" href = "../static/css/theme.css">
  <link rel = "stylesheet" href = "../static/css/header.css">
  <link rel = "stylesheet" href = "../static/css/main.css">
  <link rel = "stylesheet" href = "../static/css/footer.css">
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap">
</head>
<body>
  <header>
    <div class = "head">
    <div class = "logo-image">
      <img src = "../images/logo.webp" class = "logo" alt = "ЛОГО">
    </div>
    <div class = "logo-text">
      <h1> <span> DARK </span> <br> <span> PULSE </span> </h1>
    </div>
     <nav>
       <a> Главная </a>
       <a> Новости </a>
       <a> Документация </a>
       <button class = "btn-about"> О нас </button>
     </nav>
    </div>
  </header>
  <main>
    <div class = "main-content">
       <div class = "hero">
         <div class = "hero-text">
           <h2> КИБЕРБЕЗОПАСНОСТЬ КАК ОСНОВА:</h2>
           <p>Курс по кибербезопасности учит <span class = "green-text"> защищать данные </span>
             и системы от хакерских атак, вирусов и утечек.
             Вы освоите основы защиты сетей, анализа угроз
             и работы с <span class = "green-text"> современными инструментами безопасности.</span> </p>
           <div class = "start-btn"> <button> изучить </button></div>
         </div>
         <div class = "hero-img">
           <img src = "../images/shield.webp">
         </div>
      </div>
      <div class = "slogan-container">
        <div class = "first-slogan">

        </div>
        <div class = "second-slogan">

        </div>
        <div class = "third-slogan">
          <div class = "slogan-text">
            <h3> Технологии развиваются стремительно — твоя защита должна быть ещё быстрее.</h3>
          </div>
        </div>
      </div>
      <section>
        <div class = "mini-info">
          <h2> Мини-курс «Основы кибербезопасности» </h2>
          <p style = "font-size: 18px; color: var(--color-green); opacity: 0.7;" > Модуль 1. Введение в кибербезопасность  </p>
        </div>
        <div class = "module-1">
          <div class = "module-1-text">
            <p>
              Кибербезопасность — это «щит» в цифровом мире. Она защищает компьютеры, сети и данные от атак хакеров, вирусов и прочих онлайн-угроз.
              Три главные цели безопасности:
              Конфиденциальность — никто лишний не увидит ваши данные.
              Целостность — информация остаётся неизменной.
              Доступность — нужные сервисы всегда под рукой.
              Основные угрозы:
              Вирусы и трояны;
              Фишинг (письма-обманки);
              DDoS-атаки;
              Социальная инженерия (обман людей, а не компьютеров).
            </p>
          </div>
          <div class = "module-1-check">
            <div class = "check check-1">
              <img src = "../images/check.webp" class = "check-mark">
              <strong> Спрос на специалистов огромен </strong>
            </div>
            <div class = "check check-2">
              <img src = "../images/check.webp" class = "check-mark">
              <strong> Удаленная работа </strong>
            </div>
            <div class = "check check-3">
              <img src = "../images/check.webp" class = "check-mark">
              <strong> Получение универсальных навыков </strong>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <br>
    <div class = "footer">
      <p> DARK PULSE 2025</p>
      <small> Все права защищены.</small>
    </div>
  </footer>
</body>
</html>